.navbar{
    background-color: rgb(0, 0, 0);
}

.navbar-toggler-icon{
    color: white !important;
    background-color: white !important;
}

.navbar-brand,
.nav-link,
.dropdown-item{
    color: #01C38D !important; 
}

.dropdown-menu{
    background-color:#182f44 !important ;
}

#main_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.card{
    
    margin: 10px;
}

.list-group-item,
.card{
    color: #01966c !important;
    background-color: #191E29 !important ;
    padding: 10px;

}

.card-link{
    color:#01C38D !important ;
    text-decoration: none;
}

body{
    /* background: -webkit-linear-gradient(left,#000000, #01C38D
    ,#01C38D,#000000); */
    background: -webkit-linear-gradient(left,#0c533f, #02976d
    ,#02976d,#0c533f);

}

.input-group-text{
   
   background-color:#01966c !important;
    
}


.span1{
    color: #01966c;
}

#test_demodificat{
    color: white !important;
}

#main_administratorContainer{
    display: flex;
    justify-content: center;
}

p{
    color: red;
}

span{
    color: white;
}



/* .form-control{
    border: 2px solid red !important;
    
} */

.red-border {
    border: 2px solid red !important;
}